.jobs{
    width : 100vw;
    position: relative;
    padding : 0 10rem;
    background-color : #FAFAFA;
    .nav{
        margin-top : 2rem;
        padding-top : 1rem;
        width : calc(100vw - 20rem);
        position : relative;
        h1{
            text-transform : capitalize;
            span{
                color : #10C8CF;
            }
        }
    }
    .cards{
        position : relative;
        margin-top : 1rem;
        width : calc(100vw - 20rem);
        // background-color : green;
        padding : 1rem 2rem;
        display : flex;
        gap : 5rem;
        flex-wrap : wrap;
        .card{
            width : 20rem;
            border-radius: 10px;
            background-color :#FFFFFF;
            overflow : hidden;
            position: relative;
            border : 1px solid rgba(0, 0, 0, 0.215);
            .job{
                width : 100%;
                padding : 1rem;
                position : relative;
                h3{
                    text-transform : capitalize;
                }
                .line{
                    width : calc(100% - 2rem);
                    left : 1rem;
                    height : 2px;
                    background-color : rgba(0, 0, 0, 0.215);
                    opacity : .7;
                    position : absolute;
                    bottom : 0%;
                }
            }
            .details{
                width : 100%;
                padding-left : 1rem;
                padding-top : 1.7rem;
                .span{
                    display : flex;
                    gap : .5rem;
                }
            }
            .more{
                margin-top : 2rem;
                width : 100%;
                padding-left : 1rem;
                padding-bottom: 1rem;
                .link{
                    text-decoration: none;
                    color : #10C8CF;
                }
            }
        }
    }
}

@media only screen and (max-width : 777px){
    .jobs{
            padding : 0 2rem;
    }
}