
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
$pink : #FC246A;
.link{
    color : white;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav{
    max-width : 100vw;
    height : 5rem;
    background-color: black;
    display : flex;
    align-items: center;
    justify-content : space-between;
    padding : 0 2rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position : relative;
    .logo{
        width : 6rem;
        height : 100%;
        @include center;
        color: $pink;
    }
    .manu{
        width : 75rem;
        height : 100%;
        display: flex;
        align-items: center;
        gap : 6rem;
    }
    .hid{
        width : 75rem;
        height : 100%;
        display: flex;
        align-items: center;
        gap : 6rem;
    }
    .authentication{
        @include center;
        gap: .6rem;
        .link{
            font-size: 1rem;
            transition : all .50s ease;
        }
        .hambar{
        font-size : 1rem;
        display : none;
        }
        .cross{
            font-size : 1rem;
            display : none;
        }
    }
}

@media only screen and (max-width : 777px){
    .nav{
        .hid{display : none;}
        .manu{
            position : absolute;
            width : 270px;
            height : 18rem;
            background-color : #FC246A;
            top : 100%;
            right : 2rem;  
            border-radius : 10px;
            flex-direction: column;
            justify-content : flex-start;
            align-items : flex-start;
            gap : 0;
            z-index : 999;
            .link{
                display : block;
                margin : 10px 0;
                padding : 0px 25px;
                transition : all .50s ease;
                font-size : 1.5rem;
            }
        }
        .authentication{
            .link{
                font-size : 1.5rem;
                transition : all .50s ease;
            }
            .hambar{
                font-size : 3rem;
                display : initial;
                color : white;
                }

            .cross{
                font-size : 3rem;
                display : initial;
                color : white;
            }
        }
    }
}