
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    // color : white;
    // color : #10C8CF;
    color : #5F6060;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform : uppercase;
}
.nav{
    width : 100vw;
    height : 4.5rem;
    background-color: #FFFFFF;
    position : fixed;
    z-index : 999;
    display : flex;
    align-items: center;
    justify-content : space-between;
    padding : 0 10rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.215);
    box-shadow : 0px 20px 17px #edebf1a1;
    .logo{
        min-width : 18rem;
        height : 100%;
        // background-color : green;
        overflow : hidden;
        padding-left : 1rem;
        img{
            margin-top : 1.4rem;
            width : 95%;
            height : 100%;
            object-fit : cover;
            object-position : center;
            scale : 1.5;
        }
    }
    .manu{
        padding-left : 2rem;
        width : 75rem;
        height : 100%;
        display: flex;
        align-items: center;
    }
    .hid{
        padding-left : 2rem;
        width : 75rem;
        height : 100%;
        display: flex;
        align-items: center;
        gap : 5rem;
    }
    .authentication{
        @include center;
        gap: .6rem;
        .link{
            font-size: 1rem;
            transition : all .50s ease;
        }
        .hambar{
        font-size : 1rem;
        display : none;
        }
        .cross{
            font-size : 1rem;
            display : none;
        }
    }
}


@media only screen and (max-width : 777px){
    .nav{
         padding : 0 2rem;
        .hid{display : none;}
        .manu{
            position : absolute;
            width : 270px;
            height : 18rem;
            background-color : #10C8CF;
            top : 100%;
            right : 2rem;  
            border-radius : 10px;
            flex-direction: column;
            justify-content : flex-start;
            align-items : flex-start;
            gap : 0;
            z-index : 999999999;
            .link{
                display : block;
                margin : 10px 0;
                padding : 0px 15px;
                transition : all .50s ease;
                font-size : 1.5rem;
                color : white;
            }
        }
        .authentication{
            .link{
                font-size : 1.5rem;
                transition : all .50s ease;
            }
            .hambar{
                font-size : 3.3rem;
                display : initial;
                color : #10C8CF;
                }

            .cross{
                font-size : 3.3rem;
                display : initial;
                color : #10C8CF;
            }
        }
    }
}

@media only screen and (max-width : 444px){
    .nav{
        .authentication{
            #icon{
                display : none;
            }
            #student{
                display : none;
            }
            #employee{
                display : none;
            }
        }
    }
}