.center{
    width : 100vw;
    // height : 60vh;
    position : relative;
    background: linear-gradient(to right,#FC246A,#c95177b1,black,black,black,black,black,rgba(255, 255, 255, 0.571));
    display : flex;

    .left{
        width : 50%;
        height : 100%;
        position : relative;
        padding-top: 4rem;
        padding-left: 2rem;
        h1{
            font-size: 8rem;
            color : white;
        }
        h4{
            color : white;
            font-size : 4rem;
        }
    }
    .right{
        width : 50%;
        height : 100%;
        position : relative;
        padding-top : 1rem;
        padding-right: 12rem;
        img{
            width : 100%;
            height : 100%;
        }
    }
}

@media only screen and (max-width : 777px){
    .center{
        flex-direction : column;
        gap : 2rem;
        .left{
            width : 100%;
        }
        .right{
            width : 100%;
        }
    }
}