$black : #333333;
.center{
    width : 100vw;
    padding-top : 6rem;
    // height : 60vh;
    position : relative;
    // background: linear-gradient(to right,#FC246A,#c95177b1,black,black,black,black,black,rgba(255, 255, 255, 0.571));
    // background: linear-gradient(to right,#FC246A,#c95177b1,#253B49,#253B49,#253B49,#253B49,#253B49,rgba(255, 255, 255, 0.571));
    // background: linear-gradient(to right,#10C8CF,#c95177b1,#253B49,#253B49,#253B49,#253B49,#253B49,rgba(255, 255, 255, 0.571));
    // background-color : rgba(16, 201, 207, 0.376);
    display : flex;
    background-color : #fafafa;
    .left{
        width : 50%;
        height : 100%;
        position : relative;
        padding-top: 4rem;
        padding-left: 10rem;
        h1{
            font-size: 8rem;
            // color : white;
            color : $black;
            span{
                // color : #F8CD22;
                color : #10C8CF;
            }
        }
        h4{
            // color : white;
            color : $black;
            font-size : 4rem;
        }
    }
    .right{
        width : 50%;
        height : 100%;
        position : relative;
        padding-right: 10rem;
        img{
            width : 100%;
            height : 100%;
        }
    }
}

@media only screen and (max-width : 777px){
    .center{
        flex-direction : column;
        gap : 2rem;
        .left{
            width : 100%;
            padding-left: 2rem;
        }
        .right{
            width : 100%;
            padding-right: 2rem;
        }
    }
}